<section class="candidate-info">
  <div class="candidate-profile">
    <span (click)="gotToApplications('previous')">
      <mat-icon>arrow_back_ios</mat-icon>
    </span>
    <div class="profile">
      <div class="profile-img">JD</div>
      <div class="profile-info">
        <span>
          <h2>
            {{
              this.candidateAppliationfrom?.personalInfo.firstName +
                this.candidateAppliationfrom?.personalInfo.lastName
            }}
          </h2>
        </span>
        <div class="contact-info">
          <span>
            <mat-icon>alternate_email</mat-icon>
            <h5>{{ this.candidateAppliationfrom?.personalInfo.email }}</h5>
          </span>
          <span>
            <mat-icon>call</mat-icon>
            <h5>{{ this.candidateAppliationfrom?.personalInfo.phone }}</h5>
          </span>
        </div>
        <span> Source:Indeed </span>
      </div>
    </div>
    <div class="profile-btn">
      <div class="status">
        <h5>Current Stage:Applied</h5>
      </div>
      <div class="feedback-btn">
        <span title="Send mail" (click)="openMailBox()"
          ><mat-icon>mail</mat-icon></span
        >
        <button mat-raised-button (click)="addFeedback()">Add Feedback</button>
      </div>
      <div class="control-btn">
        <button (click)="scheduleInterview()">Schedule Interview</button>
        <button (click)="isOpenMoveCandidateMenu = !isOpenMoveCandidateMenu">
          Move Candidate
        </button>
        <button>Reject</button>
        <div class="move-candidate" *ngIf="isOpenMoveCandidateMenu">
          <span>Move to talent poll</span>
          <span>Move Stage</span>
        </div>
      </div>
    </div>
    <span (click)="gotToApplications('next')">
      <mat-icon>arrow_forward_ios</mat-icon>
    </span>
  </div>
  <div class="candidate-details">
    <div class="candidate-header">
      <ul>
        <li
          *ngFor="let menu of applicationFromMenu"
          (click)="onSelectMenu(menu.name)"
          [class.active]="selectedTab === menu.name"
        >
          {{ menu?.name }}
        </li>
      </ul>
    </div>
    <ng-container *ngIf="selectedTab === 'Application Form'">
      <div class="candidate-form">
        <div class="personal-info">
          <h3>Personal Information</h3>
          <button class="form-btn" (click)="editCandidateDetail()">
            Edit Candidate Details
          </button>
        </div>
        <form [formGroup]="personalDetails">
          <div>
            <div class="form-field-f">
              <div class="input-container">
                <label>First Name<span class="error-text">*</span></label>
                <input
                  type="text"
                  placeholder="First Name"
                  name="firstName"
                  formControlName="firstName"
                />
              </div>
              <div class="input-container">
                <label>Last Name<span class="error-text">*</span></label>
                <input
                  type="text"
                  placeholder="last Name"
                  name="lastName"
                  formControlName="lastName"
                />
              </div>
            </div>
            <div class="form-field-f">
              <div class="input-container">
                <label>Contact Number<span class="error-text">*</span></label>
                <input
                  type="text"
                  placeholder="Contact Number"
                  name="contactNumber"
                  formControlName="contactNo"
                />
              </div>
              <div class="input-container">
                <label>E-mail ID<span class="error-text">*</span></label>
                <input
                  type="text"
                  placeholder="E-mail ID"
                  name="emaiId"
                  formControlName="email"
                />
              </div>
            </div>
            <div class="form-field-f">
              <div class="input-container">
                <label>Address<span class="error-text">*</span></label>
                <input
                  type="text"
                  placeholder="Address"
                  name="address"
                  formControlName="address"
                />
              </div>
              <div class="input-container">
                <label>Post Code<span class="error-text">*</span></label>
                <input
                  type="number"
                  placeholder="Post Code"
                  formControlName="postcode"
                />
              </div>
            </div>
            <div class="form-field-f">
              <div class="input-container">
                <label>City</label>
                <input type="text" placeholder="City" formControlName="city" />
              </div>
              <div class="input-container">
                <label>State</label>
                <input
                  type="text"
                  placeholder="state"
                  formControlName="state"
                />
              </div>
              <div class="input-container">
                <label>Country<span class="error-text">*</span></label>
                <input
                  type="text"
                  placeholder="Country"
                  formControlName="country"
                />
              </div>
            </div>
            <div class="form-field-f">
              <div class="input-container">
                <label>Date of Birth<span class="error-text">*</span></label>
                <input
                  type="text"
                  placeholder="Date of Birth"
                  formControlName="dob"
                />
              </div>
              <div class="input-container">
                <label>Gender<span class="error-text">*</span></label>
                <mat-radio-group formControlName="gender">
                  <mat-radio-button value="male">Male</mat-radio-button>
                  <mat-radio-button value="female">Female</mat-radio-button>
                  <mat-radio-button value="other">Other</mat-radio-button>
                </mat-radio-group>
              </div>
              <div class="input-container">
                <label>Marital Status</label>
                <mat-radio-group formControlName="maritalStatus">
                  <mat-radio-button value="Single">Single</mat-radio-button>
                  <mat-radio-button value="Married">Married</mat-radio-button>
                  <mat-radio-button value="always"
                    >Prefer no to say</mat-radio-button
                  >
                </mat-radio-group>
              </div>
            </div>
          </div>
          <div class="personal-info divider">
            <h3>Background</h3>
            <span>
              <mat-divider></mat-divider>
            </span>
          </div>
          <div>
            <div class="education-details">
              <p>Education Details</p>
              <button
                class="form-btn"
                (click)="addNewEducationField()"
                *ngIf="isFormEnabled"
              >
                Add +
              </button>
            </div>
            <div formArrayName="education">
              <ng-container
                *ngFor="let address of education.controls; let i = index"
                [formGroupName]="i"
              >
                <div class="form-field-f">
                  <div class="input-container">
                    <label
                      >Qualification<span class="error-text">*</span></label
                    >
                    <input
                      type="text"
                      placeholder="Qualification"
                      formControlName="qualification"
                    />
                  </div>
                  <div class="input-container">
                    <label>Course<span class="error-text">*</span></label>
                    <input
                      type="text"
                      placeholder="Course Name"
                      formControlName="course"
                    />
                  </div>
                  <div class="input-container">
                    <label>specialization</label>
                    <input
                      type="text"
                      placeholder="specialization"
                      formControlName="specialization"
                    />
                  </div>
                </div>
                <div class="form-field-f">
                  <div class="input-container">
                    <label
                      >institute Name<span class="error-text">*</span></label
                    >
                    <input
                      type="text"
                      placeholder="institute Name"
                      formControlName="instituteName"
                    />
                  </div>
                  <div class="input-container input-duration">
                    <label>Duration<span class="error-text">*</span></label>
                    <div class="duration-field">
                      <input
                        type="text"
                        placeholder="Form"
                        formControlName="durationFrom"
                      />
                      <input
                        type="text"
                        placeholder="To"
                        formControlName="durationTo"
                      />
                    </div>
                  </div>
                </div>
                <div class="remove-btn" *ngIf="i > 0">
                  <button
                    class="form-btn error-text"
                    (click)="removeInputField(i, 'education')"
                    *ngIf="isFormEnabled"
                  >
                    Remove
                  </button>
                </div>
              </ng-container>
            </div>
          </div>
          <div>
            <div class="education-details">
              <p>Work Experience</p>
              <button
                class="form-btn"
                (click)="addNewworkExperience()"
                *ngIf="isFormEnabled"
              >
                Add +
              </button>
            </div>
            <div formArrayName="workExperience">
              <ng-container
                *ngFor="let address of workExperience.controls; let i = index"
                [formGroupName]="i"
              >
                <div class="form-field-f">
                  <div class="input-container">
                    <label>Company Name<span class="error-text">*</span></label>
                    <input
                      type="text"
                      placeholder="Company Name"
                      formControlName="companyName"
                    />
                  </div>
                  <div class="input-container">
                    <label>Designation<span class="error-text">*</span></label>
                    <input
                      type="text"
                      placeholder="Designation"
                      formControlName="designation"
                    />
                  </div>
                  <div class="input-container input-duration">
                    <label>Duration<span class="error-text">*</span></label>
                    <div class="duration-field">
                      <input
                        type="text"
                        placeholder="Form"
                        formControlName="workFrom"
                      />
                      <input
                        type="text"
                        placeholder="To"
                        formControlName="workTo"
                      />
                    </div>
                  </div>
                </div>

                <div class="remove-btn" *ngIf="i > 0">
                  <button
                    class="form-btn error-text"
                    (click)="removeInputField(i, 'workExperience')"
                    *ngIf="isFormEnabled"
                  >
                    Remove
                  </button>
                </div>
              </ng-container>
            </div>
          </div>
          <div>
            <p>Current Status</p>
            <div class="form-field-f">
              <div class="input-container">
                <label>Working</label>
                <input
                  type="text"
                  placeholder="Yes/No"
                  formControlName="currentlyWorking"
                />
              </div>
              <div class="input-container">
                <label>Notice Period</label>
                <input
                  type="text"
                  placeholder="Notice Period"
                  formControlName="noticePeriod"
                />
              </div>
            </div>
          </div>
          <div>
            <p>Skills<span class="error-text">*</span></p>
            <div class="form-field-f">
              <div class="input-container">
                <label>Select Skills</label>
                <div class="skills">
                  <span *ngFor="let skill of candidateAppliationfrom?.skills">{{
                    skill
                  }}</span>
                </div>
              </div>
            </div>
          </div>
          <div>
            <p>Works Links/Portfolio</p>
            <div class="form-field-f">
              <div class="input-container">
                <label>Link</label>
                <input
                  type="text"
                  placeholder="URL"
                  formControlName="PortfolioLink"
                />
              </div>
            </div>
          </div>
          <button mat-raised-button class="update-btn" *ngIf="isFormEnabled">
            Update
          </button>
        </form>
      </div>
    </ng-container>
    <ng-container *ngIf="selectedTab === 'Resume'">
      <div>
        <div class="resume-preview-btn">
          <a
            href="https://pdfobject.com/pdf/sample.pdf"
            download="https://pdfobject.com/pdf/sample.pdf"
            ><button><mat-icon>download</mat-icon></button></a
          >
          <a
            href="https://pdfobject.com/pdf/sample.pdf"
            download="https://pdfobject.com/pdf/sample.pdf"
            target="_blank"
          >
            <button><mat-icon>fullscreen</mat-icon></button></a
          >
        </div>
        <div class="resume-preview">
          <embed
            src="https://pdfobject.com/pdf/sample.pdf#toolbar=0&navpanes=0&scrollbar=0"
            frameborder="0"
          />
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="selectedTab === 'Inital Screening'">
      <form [formGroup]="initalScreeningDetails">
        <div class="inital-screening-form">
          <div class="form-field-f">
            <div class="input-container">
              <label for="currentyWorking">Currently Working</label>
              <input
                type="text"
                id="currentyWorking"
                placeholder="institute Name"
                formControlName="currentlyWorking"
              />
            </div>
            <div class="input-container">
              <label for="noticePeriod">Notice Period</label>
              <input
                type="text"
                id="notice-Period"
                placeholder="institute Name"
                formControlName="noticePeriod"
              />
            </div>
          </div>
          <div class="form-field-f">
            <div class="input-container">
              <label for="experience">Experience in Year</label>
              <input
                type="text"
                id="experience"
                placeholder="Experience"
                formControlName="experience"
              />
            </div>
            <div class="input-container">
              <label for="Company"> Current Company Name</label>
              <input
                type="text"
                id="Company"
                placeholder="Current Company Name"
                formControlName="currentlyWorking"
              />
            </div>
          </div>
          <div class="form-field-f">
            <div class="input-container">
              <label for="currentSalary">Current Salary</label>
              <input
                type="text"
                id="currentSalary"
                placeholder="Current Salary"
                formControlName="currentCtc"
              />
            </div>
            <div class="input-container">
              <label for="expectedSalary">Expected Salary</label>
              <input
                type="text"
                id="expectedSalary"
                placeholder="Expected Salary"
                formControlName="expectedCtc"
              />
            </div>
          </div>
          <div class="form-field-f">
            <div class="input-container">
              <label for="educational">highest educational qualification</label>
              <input
                type="text"
                itemref="educational"
                placeholder="highest educational qualification"
                formControlName="qualification"
              />
            </div>
            <div class="input-container">
              <label for="passout">Pass Out</label>
              <input
                type="text"
                id="passout"
                placeholder="Pass out"
                formControlName="remarks"
              />
            </div>
          </div>
          <div class="form-field-f">
            <div class="input-container">
              <label for="remarks">Remarks</label>
              <textarea
                name="remarks"
                id="remarks"
                formControlName="remarks"
                class="remarks-text"
              ></textarea>
            </div>
          </div>
        </div>
        <div class="remove-btn">
          <button
            class="update-btn"
            mat-raised-button
            *ngIf="initalScreeningDetails.dirty"
          >
            Update
          </button>
        </div>
      </form>
    </ng-container>
    <ng-container *ngIf="selectedTab === 'Interviews'">
      <div>
        <div class="details-card">
          <h3>Upcomming Interviews</h3>
          <ng-container *ngIf="interviewDetails.length > 0">
            <mat-accordion
              *ngFor="let interview of interviewDetails[0]?.upcommingInterview"
            >
              <mat-expansion-panel
                (opened)="panelOpenState.set(true)"
                (closed)="panelOpenState.set(false)"
              >
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{ interview.interviewType }}</mat-panel-title
                  >
                  <mat-panel-description>
                    {{ interview.date }} at {{ interview.time }}
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div>
                  <h3>Interview Type : {{ interview.interviewType }}</h3>
                  <h3>Date : {{ interview.date }}</h3>
                  <h3>Time : {{ interview.time }}</h3>
                  <h3>Interviewer : {{ interview.interviewer }}</h3>
                  <div class="interview-btn">
                    <button (click)="scheduleInterview()">Update</button>
                    <button (click)="cancelInterview()">Cancel</button>
                  </div>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </ng-container>
        </div>
        <div class="details-card">
          <h3>Previous Interviews</h3>
          <ng-container *ngIf="interviewDetails[0].previousInterviews">
            <mat-accordion
              *ngFor="let interview of interviewDetails[0]?.previousInterviews"
            >
              <mat-expansion-panel
                (opened)="panelOpenState.set(true)"
                (closed)="panelOpenState.set(false)"
              >
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{ interview.interviewType }}</mat-panel-title
                  >
                  <mat-panel-description>
                    {{ interview.date }} at {{ interview.time }}
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div>
                  <h3>Interview Type : {{ interview.interviewType }}</h3>
                  <h3>Date : {{ interview.date }}</h3>
                  <h3>Time : {{ interview.time }}</h3>
                  <h3>Interviewer : {{ interview.interviewer }}</h3>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </ng-container>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="selectedTab === 'Feedback'">
      <app-feedback></app-feedback>
    </ng-container>

    <ng-container *ngIf="selectedTab === 'Mail'">
      <app-mail-history-view></app-mail-history-view>
    </ng-container>
    <ng-container *ngIf="selectedTab === 'Time Line'">
      <app-time-line></app-time-line>
    </ng-container>
  </div>
</section>
