.candidate-info {
  width: 80vw;
  height: 700px;
  background-color: var(--bg-dark);
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
}
.candidate-profile {
  width: 100%;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-navbar);
}
.profile {
  display: flex;
  gap: 10px;
}
.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  background-color: var(--bg-icon);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-xxl);
}
.profile-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.profile-info span {
  display: flex;
  align-items: center;
  gap: 10px;
}
.contact-info {
  display: flex;
  gap: 10px;
}
.profile-btn {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 5px;
}
.profile-btn button {
  margin: 0px 5px;
}
.status {
}
.feedback-btn {
  display: flex;
  align-items: center;
}
.feedback-btn:hover {
  cursor: pointer;
}
.feedback-btn button:nth-child(2) {
  background-color: var(--gold-background);
}

.control-btn {
  position: relative;
}
.control-btn button {
  padding: 5px 10px;
  border: none;
  color: var(--bg-white);
}
.control-btn button:hover {
  cursor: pointer;
}
.control-btn button:nth-child(1) {
  background-color: transparent;

  border: 1px solid var(--bg-icon);
}
.control-btn button:nth-child(2) {
  background-color: rgba(0, 128, 0, 0.488);
}
.control-btn button:nth-child(3) {
  background-color: rgba(255, 0, 0, 0.553);
}
.move-candidate {
  width: 150px;
  position: absolute;
  background-color: var(--bg-dark);
  right: 50px;
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.move-candidate span {
  width: 100%;
  padding: 10px;
  text-align: center;
}
.move-candidate span:hover {
  background-color: var(--gold-background);
  cursor: pointer;
}
.candidate-details {
  width: 100%;
  background-color: var(--bg-navbar);
}
.candidate-header {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid var(--bg-icon);
}
.candidate-details ul {
  display: flex;
  list-style: none;
  gap: 20px;
}
.candidate-details ul li:hover {
  color: var(--gold-background);
  cursor: pointer;
}
.candidate-details ul li.active {
  color: var(--gold-background);
}
.candidate-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.personal-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.divider {
  flex-direction: column;
  align-items: start;
}
.divider span {
  width: 100%;
}
.candidate-form form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.personal-info button {
  padding: 5px;
  background-color: transparent;
  border: 1px solid var(--bg-icon);
  color: var(--bg-white);
  cursor: pointer;
}
.form-field-f {
  width: 100%;
  display: flex;
  gap: 10px;
  margin: 10px 0px;
}
.form-field-f app-input {
  width: 100%;
}
.resume-preview-btn {
  width: 100%;
  display: flex;
  padding: 10px;
  justify-content: end;
  gap: 10px;
}
.resume-preview-btn button {
  padding: 5px;
  background-color: var(--bg-icon);
  border: none;
  color: var(--bg-white);
  cursor: pointer;
}
.resume-preview-btn button:hover {
  background-color: var(--bg-dark);
}
.resume-preview{
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;  
  align-items: center;
  justify-content: center;
}
.resume-preview embed{
  width: 65%;
  height: 63rem;
  border: none;
}
.inital-screening-form{
  height: 100%;
}