<section class="full-width ">
  <div class="details-card full-width">
    <mat-accordion>
      <mat-expansion-panel
        (opened)="panelOpenState.set(true)"
        (closed)="panelOpenState.set(false)"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>Interview Type</mat-panel-title>
          <mat-panel-description>
            08 OCT 2024 at 05:00 PM
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
          <h3>Interview Type :</h3>
          <h3>Date :</h3>
          <h3>Time :</h3>
          <h3>Interviewer :</h3>
          <div class="interview-btn flex g-10 full-width justify-end">
            <button mat-raised-button class="bg-gold">Update</button>
            <button mat-raised-button class="">Cancel</button>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</section>
