.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background-color: var(--bg-navbar);
  margin-top: 20px;
  gap: 10px;
  position: relative;
}
.job-c-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.radio-group {
  display: flex;
  gap: 20px;
}

.radio-button {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: var(--bg-white);
  cursor: pointer;
  position: relative;
}

.radio-button input[type="radio"] {
  display: none;
}

.custom-radio {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 2px solid var(--gold-background);
  display: inline-block;
  margin-right: 10px;
  position: relative;
}

.custom-radio::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--gold-background);
  opacity: 0;
  transition: opacity 0.2s;
}

input[type="radio"]:checked + .custom-radio::after {
  opacity: 1;
}

.radio-button:hover .custom-radio {
  border-color: var(--gold-background);
}

.job-c-header button {
  background: var(--backgound-gradient);
}

.header-icon-container {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
  height: 40px;
}
.header-btn-end {
  width: 100%;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
  border-radius: 50%;
  background-color: var(--light-background);
  color: var(--bg-white);
}

.search-icon input {
  width: 0;
  border-radius: 20px;
  outline: none;
  border: none;
  background-color: var(--light-background);
  color: var(--bg-white);
  font-size: var(--font-size-xs);
  transition: all 0.5s ease;
}

.search-icon:focus,
.search-icon:hover {
  border-radius: 20px;
  cursor: pointer;
  padding: 0px;
}

.search-icon:hover input,
.search-icon:focus input {
  width: 200px;
  padding: 10px;
  transition: all 0.5s ease;
}
.search-icon:hover .fa-search,
.search-icon:focus .fa-search {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: var(--gold-background);
  transition: all 0.5s ease;
}
.back-btn-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: var(--bg-white);
}
.back-icon:hover{
  background-color: var(--gold-background);
  color: var(--bg-dark);
} 

.custom-badge {
  background-color: var(--gold-background);
}

@media (max-width: 340px) {
  .search-icon:hover input,
  .search-icon:focus-within input,
  .search-icon:valid input {
    width: 130px;
    padding: 10px 10px;
    transition: all 0.5s ease;
  }
}
.job-c-manu{
  display: none;
}

@media (max-width: 680px) {
  .job-c-header {
    position: absolute;
    display: none;
    flex-direction: column;
    gap: 13px;
    background-color: var(--bg-dark);
    border-radius: 7px;
    top: 50px;
    width: 200px;
    padding: 20px;
  }
  .radio-group {
    display: flex;
    flex-direction: column;
    gap: 13px;
  }
  .header-icon-container {
    width: 100%;
  }
  .job-c-manu{
    display: flex;
  }
  .open-menu{
    display: flex;
  }
}
