:host {
  width: 100%;
}

.chart-container {
  padding: 20px;
  position: relative;
}
canvas{
  width: 700px !important;
  height: 300px !important;
  overflow: auto;
}
.chart-dropdown{
  border-radius: 20px;
  text-align: center;
  font-size: var(--font-size-md);
}
option:hover{
  background-color: red;
}
@media(max-width:450px){
  .chart-dropdown{
    padding: 5px;
    font-size: var(--font-size-xs);
  }
  .canvas-container{
    width: 100%;
    overflow: auto;
  }

}