<section class="chart-container flex flex-col full-height full-width">
  <div class="flex align-center justify-sb">
    <h2>Candidates in Pipeline</h2>
    <select name="" id="" class="chart-dropdown p-10 bg-light text-white">
      <option value="">flutter developer</option>
      <option value="">flutter developer</option>
      <option value="">flutter developer</option>
    </select>
  </div>
  <div class="flex align-center full-width canvas-container">
    <canvas id="candidateChart"> </canvas>
  </div>
</section>
