<section class="mail-container">
  <div class="mail-form">
    <form [formGroup]="singleMailForm"> 
      <div class="form-fields">
        <input
          type="text"
          placeholder="enter mail id"
          [value]="candidateMailId"
          formControlName="to"
        />
      </div>
      <div class="form-fields">
        <input type="text" placeholder="subject" [value]="selectedMailBody?.subject" formControlName="subject"/>
      </div>
      <div class="form-fields form-select">
        <select name="" id="" (change)="onChangeMailTemplate($event)">
          <option value="acknowledgement">Acknowledgement</option>
          <option value="assessment">Assessment</option>
          <option value="faceToFaceInterview">Face to Face Interview</option>
          <option value="hire">Hire</option>
          <option value="offerLetter">Offer Letter</option>
          <option value="reject">Reject</option>
        </select>
        <button>Save Template</button>
      </div>
      <div class="rich-text-editor">
        <ckeditor [data]="selectedMailBody?.body" formControlName="subject"  [editor]="Editor"></ckeditor>
      </div>
      <div class="form-fields send-btn">
        <button mat-raised-button (click)="sendMail()">Send</button>
      </div>
    </form>
  </div>
</section>
