section {
  height: 87vh;
}
.controller {
  width: 250px;
  min-width: 250px;
  border-right: 1px solid var(--bg-icon);
}
.controller span:hover {
  background-color: var(--bg-icon);
  cursor: pointer;
}
.active {
  background-color: var(--gold-background);
}
@media (max-width: 600px) {
  .controller {
    min-width: 50px;
    align-items: center;
    width: 50px;
  }
  .controller span {
    align-items: center;
    width: 50px;
  }
  .controller h3 {
    display: none;
  }
  .interview-header{
    flex-direction: column;
    align-items: center;
  }
}
