<section class="full-width flex bg-nav">
  <div class="controller flex flex-col p-10">
    <span class="flex align-center p-10 bg-icon g-10"
    (click)="scheduleInterview()"
      ><mat-icon> calendar_month </mat-icon> Schedule Interview
    </span>
    <span class="flex align-center p-10 g-10">
      <mat-icon> event_upcoming </mat-icon> Upcomming Interviews</span
    >
    <span class="flex align-center p-10 g-10">
      <mat-icon> history </mat-icon> Past Interviews</span
    >
  </div>
  <div class="controller-view">fxc</div>
</section>
