<section class="full-width flex bg-nav">
  <div class="controller flex flex-col p-10">
    <span
      class="flex align-center p-10 b-1 mt-5 mb-5 g-10"
      (click)="scheduleInterview()"
      ><mat-icon> calendar_month </mat-icon>
      <h3>Schedule Interview</h3>
    </span>
    <span
      class="flex align-center p-10 g-10"
      [ngClass]="{ active: selectedPage === 'upcommingInterview' }"
      (click)="selectedPage = 'upcommingInterview'"
    >
      <mat-icon> event_upcoming </mat-icon>
      <h3>Upcoming Interviews</h3></span
    >
    <span
      class="flex align-center p-10 g-10"
      [ngClass]="{ active: selectedPage === 'history' }"
      (click)="selectedPage = 'history'"
    >
      <mat-icon> history </mat-icon>
      <h3>Past Interviews</h3></span
    >
  </div>
  <div class="controller-view flex flex-col align-center p-10 g-10 full-width">
    <ng-container *ngIf="selectedPage == 'upcommingInterview'">
      <div class="full-width flex justify-sb interview-header">
        <h2 class="m-10">Upcoming Interviews</h2>
        <div class="flex">
          <span class="p-10 bg-gold">
            <mat-icon>search</mat-icon>
          </span>
          <input
            type="text"
            class="p-10 bg-light text-white b-1"
            placeholder="Search..."
          />
        </div>
      </div>
      <div class="full-width flex flex-col g-10">
        <app-interview-history class="full-width"></app-interview-history>
        <app-interview-history class="full-width"></app-interview-history>
      </div>
    </ng-container>
    <ng-container *ngIf="selectedPage == 'history'">
      <div class="full-width flex justify-sb interview-header">
        <h2 class="m-10">Past Interviews</h2>
        <div class="flex">
          <span class="p-10 bg-gold">
            <mat-icon>search</mat-icon>
          </span>
          <input
            type="text"
            class="p-10 bg-light text-white b-1"
            placeholder="Search..."
          />
        </div>
      </div>

      <div class="full-width flex flex-col g-10">
        <app-interview-history class="full-width"></app-interview-history>
        <app-interview-history class="full-width"></app-interview-history>
        <app-interview-history class="full-width"></app-interview-history>
        <app-interview-history class="full-width"></app-interview-history>
      </div>
    </ng-container>
  </div>
</section>
