section {
  width: 60vw;
  height: 90vh;
  overflow-y: auto;
  font-weight: lighter;
}
.jd-heading{
  min-height: 100px;
}
p,
ul {
  font-size: var(--font-size-md);
}
ul {
  padding-left: 30px;
}
.job-description {
  flex-direction: row;
}
.job-contraines {
  width: 350px;
  padding: 0px 20px;
  gap: 30px;
}
@media (max-width: 960px) {
  .job-description {
    flex-direction: column;
  }
  section {
    width: 80vw;
  }
  .job-contraines{
    width: 230px;
  }
}

@media print{
  *{
    color: red;
  }
}
section::-webkit-scrollbar{
  display: none;
}
