<div class="jrf-form-preview">
    <div class="preview-heading">
      <h2>GENROBOTIC INNOVATIONS PRIVATE LIMITED</h2>
    </div>
    <div class="preview-head">
      <div class="preview-form-details">
        <span>{{JRFormData.department}}</span>
        <span>{{JRFormData.job}}</span>
      </div>
      <div class="preview-form-details">
        <span>Date: {{JRFormData.date}}</span>
        <span>Place:{{JRFormData.location}}</span>
      </div>
    </div>
    <div class="preview-body">
      <div class="preview-content">
        <h3>Responsibilities</h3>
        <ul>
          <li>{{JRFormData.responsibilities}}</li>
        </ul>
      </div>
      <div class="preview-content">
        <h3>Skills</h3>
        <ul>
          <li>{{JRFormData.skills}}</li>
        </ul>
      </div>
      <div class="preview-values">
        <span>Number of Vacancies</span>:<span>3</span>
      </div>
      <div class="preview-content">
        <h3>Educational Qualification</h3>
        <ul>
          <li>{{JRFormData.qualification}}</li>
        </ul>
      </div>
      <div class="preview-values">
        <span>Experience</span>:<span>{{JRFormData.experienceFrom}} -{{JRFormData.experienceTo}} </span>
      </div>
      <div class="preview-values">
        <span>Job Location</span>:<span>{{JRFormData.location}}</span>
      </div>
      <div class="preview-values">
        <span>Travel required</span>:<span>{{JRFormData.travel}}</span>
      </div>
      <div class="preview-values">
        <span>Gender</span>:<span>{{JRFormData.gender}}</span>
      </div>
      <div class="preview-values">
        <span>Marital Status</span>:<span>{{JRFormData.maritalStatus}}</span>
      </div>
      <div class="preview-values">
        <span>Locality Preferences</span>:<span>{{JRFormData.locality}}</span>
      </div>
      <div class="preview-values">
        <span>Industrial Preferences</span>:<span>{{JRFormData.department}}</span>
      </div>
      <div class="preview-values">
        <span>Approximate Salary</span>:<span>{{JRFormData.salary}}</span>
      </div>
      <div class="preview-values">
        <span>Job ID</span>:<span>{{JRFormData.jobId}}</span>
      </div>
    </div>
  </div>
