.jrf-form-preview{
    display: flex;
    flex-direction: column;
    background-color: var(--light-background);
    padding: 20px 30px;
    gap: 50px;
  }
  .preview-heading{
    text-align: center;
  }
  .preview-head{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .preview-form-details{
    display: flex;
    flex-direction: column;
  
  }
  .preview-body{
    display: flex;
    flex-direction: column;
    gap: 20px;  
  }
  .preview-content{
     display: flex;
     flex-direction: column;
     gap: 10px;
  }
  .preview-content ul{
    padding: 0px 25px;
  }
  .preview-values{
    display: flex;
    align-items: center;
    gap: 10px;
  }