<section class="p-10 flex align-center flex-col">
  <div class="stage-container">
    <div>
      <h2>Product Manager</h2>
      <p>Setup Your hiring flow base on your Job descriptions</p>
    </div>
    <div class="flex full-width g-10 stages">
      <ng-container *ngFor="let stage of stages; let i = index">
        <div class="single-stage flex flex-col g-10">
          <div class="flex p-10 bg-gold">
            <input type="text" [value]="stage" />
            <mat-icon (click)="removeStage(i)">close</mat-icon>
          </div>
          <ng-container *ngFor="let stageNo of stagesSkeletonNumber">
            <div class="flex full-width bg-light p-10">
              <div class="flex flex-col full-width text-skeleton">
                <span></span>
                <span></span>
              </div>
            </div>
        </ng-container>
        </div>
        <div class="add-new-stage" *ngIf="i != stages.length">
            <mat-icon (click)="addNewStage(i)">add_circle</mat-icon>
        </div>
      </ng-container>
    </div>
    <div class="full-width flex justify-end g-10">
        <button mat-raised-button class="bg-none b-1 text-white">Back</button>
       <button mat-raised-button class="bg-gold">Publish</button>
    </div>
  </div>
</section>
