<section class="full-width p-10 flex flex-col align-center">
  <div class="full-width flex justify-start">
    <h2>Notifiaction Settings</h2>
  </div>
  <div class="full-width notifiaction-container ">
    <div class="notifiaction-list">
      <h2>Candidate Notifiactions</h2>
      <div class="flex full-width justify-sb b-1 p-10">
        <p>New Candiate Application</p>
        <mat-slide-toggle></mat-slide-toggle>
      </div>
      <div class="flex full-width justify-sb b-1 p-10" >
        <p>Candidates are imported to the job</p>
        <mat-slide-toggle></mat-slide-toggle>
      </div>
      <div class="flex full-width justify-sb b-1 p-10">
        <p>Feedback Submitted on Candidate</p>
        <mat-slide-toggle></mat-slide-toggle>
      </div>
      <div class="flex full-width justify-sb b-1 p-10">
        <p>Invited to an interview</p>
        <mat-slide-toggle></mat-slide-toggle>
      </div>
    </div>
    <div class="notifiaction-list">
      <h2>Company Notifiactions</h2>
      <div class="flex full-width justify-sb b-1 p-10">
        <p>New job Openings</p>
        <mat-slide-toggle></mat-slide-toggle>
      </div>
      <div class="flex full-width justify-sb b-1 p-10">
        <p>Notify on new mails</p>
        <mat-slide-toggle></mat-slide-toggle>
      </div>
      <div class="flex full-width justify-sb b-1 p-10">
        <p>Interview schedules</p>
        <mat-slide-toggle></mat-slide-toggle>
      </div>
    </div>
  </div>
</section>
