<app-create-jrf-header></app-create-jrf-header>
<section class="full-width p-10">
  <div class="full-width flex justify-ar bg-nav b-bottom-1">
    <div
      class="flex g-10 p-10 justify-center jd-stage"
      (click)="moveApplicationStage('aboutForm')"
    >
      <span>
        <span class="flex align-center jd-stage-name">
          <h3>About Job</h3>
          <mat-icon>check_circle</mat-icon>
        </span>
        <h5>Create your job description based</h5>
      </span>
      <span class="flex align-center">
        <mat-icon>arrow_forward_ios</mat-icon>
      </span>
    </div>
    <div
      class="flex g-10 p-10 justify-center jd-stage"
      (click)="moveApplicationStage('applicationForm')"
    >
      <span>
        <span class="flex align-center jd-stage-name">
          <h3>Application Form</h3>
          <mat-icon>check_circle</mat-icon>
        </span>
        <h5>
          Customize job application base on job<br />
          recruitment
        </h5>
      </span>
      <span class="flex align-center">
        <mat-icon>arrow_forward_ios</mat-icon>
      </span>
    </div>
    <div
      class="flex g-10 p-10 justify-center jd-stage"
      (click)="moveApplicationStage('hiringStages')"
    >
      <span>
        <span class="flex align-center jd-stage-name">
          <h3>Hiring Flow</h3>
          <mat-icon>check_circle</mat-icon>
        </span>
        <h5>Configure your hiring pipeline flow</h5>
      </span>
    </div>
  </div>
  <div class="application-from full-width bg-nav">
    <ng-container *ngIf="applicationStep == 'aboutForm'">
      <app-appliation-form></app-appliation-form>
    </ng-container>
    <ng-container *ngIf="applicationStep == 'applicationForm'">
      <h2>application job</h2>
    </ng-container>
    <ng-container *ngIf="applicationStep == 'hiringStages'">
      <h2>hiring job</h2>
    </ng-container>
  </div>
</section>
