<app-header-nav-bar></app-header-nav-bar>
<section class="full-width p-10">
  <div class="full-width flex justify-ar bg-nav b-bottom-1">
    <div
      *ngFor="let stage of applicationStages"
      class="flex g-10 p-10 justify-center jd-stage"
      [ngClass]="{ complete: stage.stageState.currentStage }"
    >
      <span>
        <span class="flex align-center jd-stage-name">
          <h3>{{ stage.stageName }}</h3>
          <mat-icon [ngClass]="{ check: stage.stageState.completed }"
            >check_circle</mat-icon
          >
        </span>
        <h5>{{ stage.satgeDescription }}</h5>
      </span>
      <span class="flex align-center">
        <mat-icon>arrow_forward_ios</mat-icon>
      </span>
    </div>
  </div>
  <div class="application-from full-width bg-nav">
    <ng-container
      *ngIf="
        applicationStages[currentStageIndex].stageName ==
        applicationStages[0].stageName
      "
    >
      <app-appliation-form
        (proceed)="moveApplicationStage()"
      ></app-appliation-form>
    </ng-container>
    <ng-container
      *ngIf="
        applicationStages[currentStageIndex].stageName ==
        applicationStages[1].stageName
      "
    >
      <app-create-appliation-form
        (proceed)="moveApplicationStage()"
        (previous)="previousApplicationStage()"
      ></app-create-appliation-form>
    </ng-container>
    <ng-container
      *ngIf="
        applicationStages[currentStageIndex].stageName ==
        applicationStages[2].stageName
      "
    >
      <app-hiring-flow
        (previous)="previousApplicationStage()"
      ></app-hiring-flow>
    </ng-container>
  </div>
</section>
