section {
  overflow: auto;
  height: 88%;
}
.jd-stage {
  cursor: pointer;
}
.jd-stage:hover {
  color: var(--gold-background);
}
.jd-stage-name mat-icon {
  font-size: 15px;
}
.flex-direction{
  flex-direction: row;
}
@media(max-width:600px){
  .flex-direction{
    flex-direction: column;
  }
  .jd-stage{
    gap: 0px;
    padding: 10px 0px;
  }
  .jd-stage h5{
    display: none;
  }
  .jd-stage span h3{
    font-size: 10px;
  }
  .jd-stage .mat-icon{
    font-size: 15px;
  }
}