section {
  width: 60vw;
  padding: 30px;
}
.input-fields {
  width: 100%;
}
.input-fields input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--bg-icon);
  background-color: var(--light-background);
  color: var(--bg-white);
}
.field-container {
  position: relative;
}
.job-options {
  max-height: 200px;
  position: absolute;
  top: 60px;
  overflow-y: scroll;
  z-index: 10;
}
.job-options span:hover {
  background-color: var(--bg-dark);
  cursor: pointer;
}
@media (max-width: 600px) {
  section {
    width: 80vw;
    padding: 10px;
    overflow-y: auto;
    height: 100vh;
  }
  .input-fields {
    flex-direction: column;
  }
}

section::-webkit-scrollbar{
  display: none;
}
