<section class="flex flex-col bg-nav g-10 p-10">
  <h2>Schedule New Interview</h2>
  <div class="full-width">
    <form>
      <div class="input-fields flex full-width g-10">
        <div class="flex  flex-col full-width">
          <label for="">Job Title</label>
          <input type="text" list="browsers" placeholder="email" />
          <datalist id="browsers" >
            <option value="Edge">
            <option value="Firefox">
            <option value="Chrome">
            <option value="Opera">
            <option value="Safari">
          </datalist>
        </div>
        <div class="flex flex-col full-width">
          <label for="">Candidate Mail ID</label>
          <input type="text" placeholder="email" />
        </div>
      </div>
      <div class="input-fields flex full-width g-10">
        <div class="flex  flex-col full-width">
          <label for="">Job Title</label>
          <input type="text" placeholder="email" />
        </div>
        <div class="flex flex-col full-width">
          <label for="">Candidate Mail ID</label>
          <input type="text" placeholder="email" />
        </div>
      </div>
    </form>
  </div>
</section>
