section {
  width: 60vw;
  height: 300px;
}
.input-fields {
  width: 100%;
}
.input-fields input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--bg-icon);
  background-color: var(--light-background);
}
datalist{
    width: 100% !important;
    background-color: antiquewhite;
    
}
