<section class="flex flex-col align-center bg-nav g-10">
  <h2>Schedule New Interview</h2>
  <div class="full-width">
    <form [formGroup]="interviewDetailsForm" class="flex flex-col g-10">
      <div class="input-fields flex full-width g-10">
        <div class="flex flex-col full-width field-container g-10">
          <label for="">Job Tiltle</label>
          <input
            type="text"
            placeholder="Job Tiltle"
            formControlName="jobTitle"
            [matAutocomplete]="jobTitle"
            class="example-input"
          />
          <mat-autocomplete #jobTitle="matAutocomplete">
            <mat-option *ngFor="let value of filteredJob" [value]="value">
              {{ value }}
            </mat-option>
          </mat-autocomplete>
        </div>
        <div class="flex flex-col full-width g-10">
          <label for="">Candidate Mail ID</label>
          <input type="text" placeholder="email" />
        </div>
      </div>
      <div class="input-fields flex full-width g-10">
        <div class="flex flex-col full-width field-container g-10">
          <label for="interviewer">Interviewer</label>
          <input
            type="text"
            placeholder="Interviewer"
            formControlName="interviewer"
            id="interviewer"
            [matAutocomplete]="interviewer"
            class="example-input"
          />
          <mat-autocomplete #interviewer="matAutocomplete">
            <mat-option
              *ngFor="let value of filteredInterviewer"
              [value]="value"
            >
              {{ value }}
            </mat-option>
          </mat-autocomplete>
        </div>
        <div class="flex flex-col full-width field-container g-10">
          <label for="interviewType">Interview Type</label>
          <input
            type="text"
            placeholder="Interview Type"
            formControlName="interviewType"
            [matAutocomplete]="interviewType"
            id="interviewType"
            class="example-input"
          />
          <mat-autocomplete #interviewType="matAutocomplete">
            <mat-option
              *ngFor="let value of filteredInterviewType"
              [value]="value"
            >
              {{ value }}
            </mat-option>
          </mat-autocomplete>
        </div>
      </div>
      <div class="input-fields flex flex-col full-width g-10">
        <h3>Interview Details</h3>
        <div class="input-fields flex full-width g-10">
          <div class="flex flex-col full-width field-container g-10">
            <label for="date">Date</label>
            <input type="date" id="date" />
          </div>
          <div class="flex flex-col full-width field-container g-10">
            <label for="time">Time</label>
            <input type="time" id="time" />
          </div>
        </div>
        <div class="flex full-width g-10">
          <div class="flex flex-col full-width field-container g-10">
            <label for="from">Interview Form</label>
            <input type="time" id="from" />
          </div>
          <div class="flex flex-col full-width field-container g-10">
            <label for="to">Interview To</label>
            <input type="time" id="to" />
          </div>
        </div>
      </div>

      <div class="input-fields flex justify-end full-width g-10">
        <button mat-raised-button class="bg-gold" (click)="scheduleInterview()">
          Schedule & Notify
        </button>
      </div>
    </form>
  </div>
</section>
