<section class="interview-container">
  <h3>Select Interview Details</h3>
  <div class="interview-form">
    <form [formGroup]="scheduledInterviewDetails">
      <div>
        <mat-form-field>
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="date" />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <div
            *ngIf="
              scheduledInterviewDetailsControl['date'].touched &&
              scheduledInterviewDetailsControl['date'].invalid
            "
          >
            <small class="error-text">date is required.</small>
          </div>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="example-full-width">
          <mat-label>Choose Time From</mat-label>
          <input matInput formControlName="timeFrom" type="time"/>
          <div
            *ngIf="
              scheduledInterviewDetailsControl['timeFrom'].touched &&
              scheduledInterviewDetailsControl['timeFrom'].invalid
            "
          >
            <small class="error-text">time from is required.</small>
          </div>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Choose Time To</mat-label>
          <input matInput formControlName="timeTo" type="time"/>
          <div
            *ngIf="
              scheduledInterviewDetailsControl['timeTo'].touched &&
              scheduledInterviewDetailsControl['timeTo'].invalid
            "
          >
            <small class="error-text">time to is required.</small>
          </div>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Select Interview Type</mat-label>
          <mat-select
            formControlName="interviewType"
          >
            <mat-option value="Task Interview">Task Interview</mat-option>
            <mat-option value="face to face Interview"
              >Face to Face Interview</mat-option
            >
          </mat-select>
          <div
            *ngIf="
              scheduledInterviewDetailsControl['interviewType'].touched &&
              scheduledInterviewDetailsControl['interviewType'].invalid
            "
          >
            <small class="error-text">interview type is required.</small>
          </div>
        </mat-form-field>
      </div>
      <ng-container
        *ngIf="
          scheduledInterviewDetails.get('interviewType')?.value ===
          'face to face Interview'
        "
      >
        <div>
          <mat-form-field>
            <mat-label>Select Interviewer</mat-label>
            <mat-select formControlName="interviwer">
              <mat-option value="food.value">food.viewValue</mat-option>
              <mat-option value="food.value">food.viewValue</mat-option>
              <mat-option value="food.value">food.viewValue</mat-option>
              <mat-option value="food.value">food.viewValue</mat-option>
              <mat-option value="food.value">food.viewValue</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </ng-container>
      <div class="schedule-btn">
        <button mat-raised-button (click)="scheduleInterview()">Schedule</button>
      </div>
    </form>
  </div>
</section>
