.application-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 66vh;
  gap: 20px;
  border-radius: 7px;
}
.application-header {
  width: 100%;
  height: 100%;
}
.application-sub-header {
  width: 100%;
  background-color: var(--light-background);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.jrf-form {
  width: 100%;
  height: 77vh;
  background-color: var(--bg-navbar);
  display: flex;
  flex-direction: column;
}
.application-tiltle {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--bg-white);
}
.notify-btn {
  display: flex;
  justify-content: center;
  gap: 20px;
  position: relative;
}

.notify-btn span {
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.notify-btn span h3 {
  color: var(--bg-white);
}

.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--bg-icon);
  padding: 0px 10px;
}
.filter:hover {
  cursor: pointer;
}
.filter-drop-down {
  width: 250px;
  position: absolute;
  background-color: var(--bg-dark);
  right: 0px;
  top: 50px;
  border: 1px solid var(--bg-icon);
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 400px;
  overflow-y: auto;
  z-index: 5;
}
.filter-drop-down div {
  padding: 0px 20px;
  width: 100%;
}
.filter-drop-down ul {
  list-style: none;
  width: 100%;
  padding-left: 20px;
}

.filter-by-status {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}
.filter-btn-container {
  display: flex;
  gap: 10px;
}
.filter-status-btn {
  display: flex;
  padding: 5px 10px;
  background-color: var(--light-background);
}
.filter-status-btn:hover {
  cursor: pointer;
  background-color: var(--bg-navbar);
}

@media (max-width: 450px) {
  .application-sub-header {
    flex-direction: column;
  }
  .notify-btn span {
    padding: 0px;
    gap: 0px;
  }
  .filter-btn-container {
    width: 100%;
    overflow: auto;
  }
}

@media (max-width: 680px) {
  .filter-by-status {
    flex-direction: column;
    gap: 10px;
    align-items: start;
  }
}
.table-container {
  width: 100%;
  display: flex;
  align-items: center;
  height: 100%;
  overflow: auto;
}
.table-container table {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 100%;
}
.table-container table tbody {
  overflow: auto;
  min-width: 66rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 100%;
}
.table-container table thead {
  min-width: 66rem;
  background-color: var(--light-background);
  padding: 5px;
  border-radius: 5px;
}
.table-container table tr {
  background-color: var(--light-background);
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  padding: 5px;
  align-items: center;
}
.table-container table tr a {
  color: var(--bg-white);
  display: contents;
}
.table-container table thead td {
  width: 210px;
}
.table-container table tbody td {
  width: 155px;
  max-width: 155px;
  overflow-wrap: break-word;
}
.table-container table td {
  padding: 10px;
  text-align: center;
}

.table-container table tbody::-webkit-scrollbar {
  width: 5px;
}
.status-btn {
  color: var(--bg-white);
  border-radius: 20px;
}
.status-new-btn {
  background-color: var(--bg-btn-status) !important;
  color: var(--bg-white) !important;
}
.status-reject-btn {
  color: var(--danger);
}
.status-onhold-btn {
  color: var(--bg-icon);
}
.status-shortlist-btn {
  color: var(--bg-whatsapp);
}
.status-feedback-btn {
  color: var(--gold-background);
}

@media (max-width: 860px) {
  .table-container table {
    overflow: scroll;
  }
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
