<section class="flex justify-center full-width p-10 full-height">
  <ul>
    <div class="track-container flex g-10" *ngFor="let i of demoArray">
      <span class="time">
        <h5>
          11:45 PM <br />
          4th Sep 2024
        </h5>
      </span>
      <li class="flex">
        <div class="flex align-center full-height flex-col">
          <span class="bullet flex align-center justify-center full-height flex-col bg-gold"><mat-icon>schedule</mat-icon></span>
          <span class="track bg-icon"> </span>
        </div>
        <div class="time-content">
          <h3>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat,
            deserunt!
          </h3>
          <h5>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam,
            accusantium.
          </h5>
        </div>
      </li>
    </div>
  </ul>
</section>
