.job-container {
  width: 100%;
  height: 87vh;
}
.filter-bar {
  width: 250px;
  min-width: 250px;
  height: 100%;
  transition: all 0.3s;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.filter-bar .mat-icon {
  cursor: pointer;
}
.job-c-overview {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  height: 100%;
  overflow: auto;
}
.job-c-overview app-job-view {
  flex: 0 0 32.7%;
  min-width: 350px;
  justify-content: center;
}
.filter-bar ul {
  list-style: none;
}
.filter-active {
  width: 50px;
  min-width: 50px;
  position: relative;
  height: 100%;
  transition: all 0.3s;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.filter-active h3,
.filter-active ul {
  display: none;
}

@media (max-width: 1320px) {
  .job-c-overview {
    justify-content: center;
  }
}
@media (max-width: 720px) {
  .job-c-overview app-job-view {
    flex: 0 0 100%;
    justify-content: center;
  }
}
@media (max-width: 650px) {
  .filter-bar {
    position: absolute;
    left: 0px;
    z-index: 2;
  }
  .filter-active {
    position: relative;
    left: 0px;
  }
}
@media (max-width: 400px) {
  .job-c-overview app-job-view {
    min-width: 0px;
  }
}
::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
