.job-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 82vh;
  overflow: auto;
}
.job-c-overview {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.job-c-overview app-job-view {
  flex: 0 0 32.7%;
  min-width: 350px;
  justify-content: center;
}
@media (max-width: 1320px) {
  .job-c-overview {
    justify-content: center;
  }
}
@media (max-width: 720px) {
  .job-c-overview app-job-view {
    flex: 0 0 100%;
    justify-content: center;
  }
}
@media (max-width: 400px) {
  .job-c-overview app-job-view {
    min-width: 0px;
  }
}
::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
