.users-details-container {
  width: 100%;
  height: 82vh;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: var(--bg-navbar);
  border-radius: 7px;
  align-items: center;
  gap: 20px;
  overflow: auto;
}
.user-profile {
  display: flex;
  align-items: center;
  gap: 10px;
}
.user-profile img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}
.user-details {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-details mat-form-field {
  width: 400px;
}
.user-details form span {
  display: block;
}
.user-control-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.user-control-btn button:first-child {
  background-color: var(--gold-background);
}
.user-control-btn button:last-child {
  background-color: var(--danger);
}

@media (max-width: 460px) {
  .user-details mat-form-field {
    width: 100%;
  }
  .user-details form{
    width: 100%;
  }
}
