<div class="jrf-form-preview">
  <div class="preview-head">
    <div class="preview-form-details">
      <h3>{{ JRFormOverviewData.job }}</h3>
    </div>
  </div>
  <div class="preview-body">
    <div class="preview-content">
      <h3>Responsibilities</h3>
      <ul>
        <li>{{ JRFormOverviewData.responsibilities }}</li>
      </ul>
    </div>
    <div class="preview-content">
      <h3>Skills</h3>
      <ul>
        <li>{{ JRFormOverviewData.skills }}</li>
      </ul>
    </div>
    <div class="preview-values">
      <span><h3>Number of Vacancies</h3></span>:<span
        ><h3>{{ JRFormOverviewData.vacancies }}</h3></span
      >
    </div>
    <div class="preview-content">
      <h3>Educational Qualification</h3>
      <ul>
        <li>{{ JRFormOverviewData.qualification }}</li>
      </ul>
    </div>
    <div class="preview-values">
      <span><h3>Experience</h3></span>:<span
        ><h3>
          {{ JRFormOverviewData.experienceFrom }} -
          {{ JRFormOverviewData.experienceTo }}
        </h3></span
      >
    </div>
    <div class="preview-values">
      <span><h3>Job Location</h3></span>:<span
        ><h3>{{ JRFormOverviewData.location }}</h3></span
      >
    </div>
    <div class="preview-values">
      <span><h3>Locality Preferences</h3></span>:<span
        ><h3>{{ JRFormOverviewData.locality }}</h3></span
      >
    </div>
    <div class="preview-values">
      <span><h3>Industrial Preferences</h3></span>:<span
        ><h3>{{ JRFormOverviewData.department }}</h3></span
      >
    </div>
  </div>
</div>
