<section class="flex flex-col p-10 full-width">
  <div class="application-container flex justify-center">
    <div class="full-width flex g-10 flex-col">
      <h2>Suggested Fields</h2>
      <ng-container *ngFor="let question of jobQuestions">
        <div class="flex-col full-width g-10">
          <div class="flex flex-col g-10 p-10">
            <h2>{{ question.fieldName }}</h2>
            <div
              class="flex justify-sb full-width flex-center choose-btn"
              *ngFor="let options of question.questions"
            >
              <p>{{ options.question }}</p>
              <span class="flex g-10 option-btn">
                <button
                  mat-raised-button
                  class="b-1 text-white"
                  [ngClass]="{
                    'selected-btn': options.selected === 'mandatory'
                  }"
                  (click)="selectOption(options, 'mandatory')"
                >
                  Mandatary
                </button>
                <button
                  mat-raised-button
                  class="b-1 text-white"
                  [ngClass]="{
                    'selected-btn': options.selected === 'optional'
                  }"
                  (click)="selectOption(options, 'optional')"
                >
                  Optional
                </button>
                <button
                  mat-raised-button
                  class="b-1 text-white"
                  [ngClass]="{ 'selected-btn': options.selected === 'off' }"
                  (click)="selectOption(options, 'off')"
                >
                  Off
                </button>
              </span>
            </div>
          </div>
        </div>
      </ng-container>
      <div class="flex flex-col g-10 align-center">
        <h2>Screening Questions</h2>
        <h5>Create custom questions based on the job requirements</h5>
        <button
          class="p-10 b-1 bg-light text-white flex-center g-10"
          (click)="createNewQuestion()"
        >
          <mat-icon>add</mat-icon>
          Create Questions
        </button>
      </div>
    </div>
    <div class="full-width flex flex-col g-10">
      <h2>Application From Preview</h2>
      <div>
        <span>
          <h2>GENROBOTICS</h2>
          <div class="flex full-width justify-sb">
            <h3>Software Engineer</h3>
            <span class="flex g-10">
              <h5>Bangaluru</h5>
              <h5>Experience: 4 - 5 Years</h5>
            </span>
          </div>
        </span>
        <div>
          <mat-expansion-panel
            (opened)="panelOpenState.set(true)"
            (closed)="panelOpenState.set(false)"
          >
            <mat-expansion-panel-header>
              <mat-panel-title> See job Details </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="flex full-width">
              <div class="flex full-width" id="print-section">
                <div class="job-description full-width">
                  <div class="p-10">
                    <h1>Software Engineer</h1>
                    <h3>Bangaluru</h3>
                  </div>
                  <div class="full-width p-10 job-description flex g-10">
                    <div class="full-width flex flex-col g-10">
                      <div #descreptionContainer #id>
                        <h3>About the Company</h3>
                        <p>
                          Lorem ipsum dolor sit amet consectetur adipisicing
                          elit. Illo a neque quis eos esse rerum delectus
                          molestiae omnis? Fugit, unde officia ipsum modi
                          dolorum repellendus, officiis, quis quisquam nam optio
                          incidunt. Deleniti, omnis amet quas laboriosam dolorum
                          soluta eos, nostrum sequi eveniet quisquam accusantium
                          saepe nam! Libero asperiores id hic.
                        </p>
                      </div>
                      <div>
                        <h3>About the Job</h3>
                        <p>
                          Lorem ipsum dolor, sit amet consectetur adipisicing
                          elit. Praesentium reprehenderit natus iure accusantium
                          asperiores! Cumque, corrupti maiores cupiditate harum
                          placeat ut nisi quia unde impedit! Laudantium quo
                          quisquam dolore iusto dolorem nihil magnam molestiae,
                          commodi quod cum cumque deleniti rerum veniam facilis
                          illum! Fugiat ratione at voluptates nihil debitis
                          minus. Voluptates facere quis soluta fuga odit
                          pariatur modi unde eum, adipisci, facilis aliquid
                          vitae non temporibus, architecto ipsam tenetur
                          reprehenderit beatae quisquam quod dicta possimus.
                          Labore eius sunt mollitia itaque dolorem accusamus
                          repellat repudiandae facilis adipisci suscipit? Sequi,
                          adipisci aliquam facilis quis praesentium id
                          architecto, totam ex impedit fugit repellat!
                        </p>
                      </div>
                      <div>
                        <h3>Responsibilities</h3>
                        <ul class="p-10">
                          <li class="">
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Magnam, odio.
                          </li>
                          <li>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Magnam, odio.
                          </li>
                          <li>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Magnam, odio.
                          </li>
                          <li>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Magnam, odio.
                          </li>
                          <li>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Magnam, odio.
                          </li>
                        </ul>
                      </div>
                      <div>
                        <h3>Qualifications</h3>
                        <ul>
                          <li>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Magnam, odio.
                          </li>
                          <li>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Magnam, odio.
                          </li>
                          <li>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Magnam, odio.
                          </li>
                          <li>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Magnam, odio.
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="job-contraines flex flex-col">
                      <div class="flex flex-col g-10">
                        <h3>Employment Type</h3>
                        <span>
                          <p>Full Time</p>
                        </span>
                      </div>
                      <div class="flex flex-col g-10">
                        <h3>Industry Type</h3>
                        <span>
                          <p>IT Software / Software Service</p>
                        </span>
                      </div>
                      <div class="flex flex-col g-10">
                        <h3>Seniority Level</h3>
                        <span>
                          <p>Associate</p>
                        </span>
                      </div>
                      <div class="flex flex-col g-10">
                        <h3>Annual CTC</h3>
                        <span>
                          <p>10L - 20L</p>
                        </span>
                      </div>
                      <div class="flex flex-col g-10">
                        <h3>Skills</h3>
                        <span class="flex g-10 flex-wrap">
                          <p>Associate</p>
                          <p>Associate</p>
                          <p>Associate</p>
                          <p>Associate</p>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-expansion-panel>
        </div>
      </div>
      <h3>Personal Information</h3>
      <form>
        <div class="flex full-width g-10 flex-col">
          <ng-container
            *ngFor="let input of applicationRequiredQuestion.personalInfo"
          >
            <div class="flex flex-col full-width input-container">
              <label [for]="input.fieldName"
                >{{ input.fieldName }}
                <span class="error-text" *ngIf="input.required; else required"
                  >*</span
                >
                <ng-template #required>(Optional)</ng-template>
              </label>
              <mat-radio-group
                aria-label="Select an option"
                *ngIf="input.type === 'option'"
              >
                <mat-radio-button value="1">Single</mat-radio-button>
                <mat-radio-button value="2">Married</mat-radio-button>
              </mat-radio-group>
              <input
                *ngIf="input.type == 'text' || input.type == 'file'"
                [type]="input.type"
                [id]="input.fieldName"
                [placeholder]="input.fieldName"
                class="p-10 b-1 bg-light"
              />
            </div>
          </ng-container>
        </div>
      </form>
    </div>
  </div>
  <div class="flex full-width justify-end g-10">
    <button mat-raised-button class="bg-none b-1 text-white">Cancel</button>
    <button mat-raised-button class="bg-gold" (click)="proceedToNextPage()">
      Next
    </button>
  </div>
</section>
