<section class="application-container">
  <div class="application-header">
    <div class="application-sub-header">
      <a>
        <div class="application-tiltle">
          <h3>All Applications</h3>
        </div>
      </a>
      <div class="notify-btn">
        <span>
          <h3><mat-slide-toggle></mat-slide-toggle></h3>
          <h3>Notify HR Manager</h3>
        </span>
        <div class="filter" (click)="openFilterTab = !openFilterTab">
          <span>Filter By</span>
          <mat-icon *ngIf="openFilterTab">keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="!openFilterTab">keyboard_arrow_up</mat-icon>
        </div>
        <ng-container *ngIf="openFilterTab">
          <div class="filter-drop-down">
            <div *ngFor="let filter of filterKeys">
              <mat-checkbox
                class="example-margin"
                (click)="toggleFilterMenu(filter)"
              >
                {{ filter }}
              </mat-checkbox>
              <ul>
                <!-- <li *ngFor="let option of filterMenu[filter]">
                    <mat-radio-button value="">{{ getOptionValue(option) }}</mat-radio-button>
                  </li> -->
                <li>
                  <mat-radio-button value="">
                    value</mat-radio-button
                  >
                </li>
              </ul>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <app-application-table></app-application-table> 
  </div>
</section>
