.add-candidate-container {
  height: 87vh;
  gap: 20px;
  padding: 20px;
  overflow-y: scroll;
}
/* flex flex-col full-width */
.add-candidate-form {
  gap: 15px;
}
.candidates-form {
  gap: 30px;
}
.candidates-form-input-flex {
  flex-direction: row;
  align-items: end;
}

@media (max-width: 990px) {
  .candidates-form {
    flex-direction: column;
  }
  .candidates-form-input-flex {
    flex-direction: column;
  }
}
::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
