<section
  class="add-candidate-container full-width flex flex-col align-center bg-nav"
>
  <div class="full-width flex justify-center">
    <h3>Candidates Appliation From</h3>
  </div>
  <div class="flex justify-start align-center full-width">
    <h3>SoftWare Engerneer</h3>
  </div>
  <div class=" flex flex-col g-10 full-width">
    <span>Personal Informations</span>
    <div>
      <form [formGroup]="candidateDetailsForm" class="flex flex-col g-10">  
        <div class="candidates-form flex full-width">
          <div class="full-width flex flex-col g-10">
            <div class="flex flex-col g-10">
              <label for="firstName">First Name</label>
              <input
                formControlName="firstName"
                class="b-1 bg-light text-white p-10"
                placeholder="enter first name"
                id="firstName"
              />
              <div
                *ngIf="
                  candidateFormControllers['firstName'].touched &&
                  candidateFormControllers['firstName'].invalid
                "
              >
                <small
                  *ngIf="candidateFormControllers['firstName'].errors?.['required']"
                  class="error-text"
                  >required.</small
                >
              </div>
            </div>
            <div class="flex flex-col g-10">
              <label for="email">Email</label>
              <input
                class="b-1 bg-light text-white p-10"
                placeholder="enter email"
                id="email"
                formControlName="email"
              />
              <div
                *ngIf="
                  candidateFormControllers['email'].touched &&
                  candidateFormControllers['email'].invalid
                "
              >
                <small
                  *ngIf="candidateFormControllers['email'].errors?.['required']"
                  class="error-text"
                  >required.</small
                >
                <small
                  *ngIf="candidateFormControllers['email']?.errors?.['email']"
                  class="error-text"
                  >Enter a valid email Id</small
                >
              </div>
            </div>
            <div class="flex flex-col g-10">
              <label for="experience">Experience(in years)</label>
              <input
                class="b-1 bg-light text-white p-10"
                placeholder="enter experience"
                id="experience"
                formControlName="experience"
              />
              <div
                *ngIf="
                  candidateFormControllers['experience'].touched &&
                  candidateFormControllers['experience'].invalid
                "
              >
                <small
                  *ngIf="candidateFormControllers['experience'].errors?.['required']"
                  class="error-text"
                  >required.</small
                >
              </div>
            </div>
            <div class="flex flex-col g-10">
              <label for="currentCTC">Current CTC</label>
              <input
                class="b-1 bg-light text-white p-10"
                placeholder="enter current CTC"
                id="currentCTC"
                formControlName="currentCTC"
              />
              <div
                *ngIf="
                  candidateFormControllers['currentCTC'].touched &&
                  candidateFormControllers['currentCTC'].invalid
                "
              >
                <small
                  *ngIf="candidateFormControllers['currentCTC'].errors?.['required']"
                  class="error-text"
                  >required.</small
                >
              </div>
            </div>
            <div class="flex flex-col g-10">
              <label>Educational Qualification</label>

              <input
                class="b-1 bg-light text-white p-10"
                placeholder="enter first name"
                id="firstName"
                formControlName="educationalQulification"
              />
              <div
                *ngIf="
                  candidateFormControllers['educationalQulification'].touched &&
                  candidateFormControllers['educationalQulification'].invalid
                "
              >
                <small
                  *ngIf="candidateFormControllers['educationalQulification'].errors?.['required']"
                  class="error-text"
                  >required.</small
                >
              </div>
            </div>
          </div>
          <div class="full-width flex flex-col g-10">
            <div class="flex flex-col g-10">
              <label>Last Name</label>

              <input
                class="b-1 bg-light text-white p-10"
                placeholder="enter first name"
                id="firstName"
                formControlName="lastName"
              />
              <div
                *ngIf="
                  candidateFormControllers['lastName'].touched &&
                  candidateFormControllers['lastName'].invalid
                "
              >
                <small
                  *ngIf="candidateFormControllers['lastName'].errors?.['required']"
                  class="error-text"
                  >required.</small
                >
              </div>
            </div>
            <div class="flex flex-col g-10">
              <label for="contactNumber">Contact Number</label>

              <input
                class="b-1 bg-light text-white p-10"
                placeholder="enter contact number"
                id="contactNumber"
                formControlName="contactNumber"
              />
              <div
                *ngIf="
                  candidateFormControllers['contactNumber'].touched &&
                  candidateFormControllers['contactNumber'].invalid
                "
              >
                <small
                  *ngIf="candidateFormControllers['contactNumber'].errors?.['required']"
                  class="error-text"
                  >required.</small
                >
              </div>
            </div>
            <div class="flex flex-col g-10">
              <label for="notice">Notice Period(in days)</label>
              <input
                class="b-1 bg-light text-white p-10"
                placeholder="enter notice period"
                id="notice"
                formControlName="noticePeriod"
              />
              <div
                *ngIf="
                  candidateFormControllers['noticePeriod'].touched &&
                  candidateFormControllers['noticePeriod'].invalid
                "
              >
                <small
                  *ngIf="candidateFormControllers['noticePeriod'].errors?.['required']"
                  class="error-text"
                  >required.</small
                >
              </div>
            </div>
            <div class="flex flex-col g-10 candidates-form-input-flex">
              <div class="flex flex-col full-width g-10">
                <label for="Expected CTC">Expected CTC</label>

                <input
                  class="b-1 bg-light text-white p-10"
                  placeholder="enter expected CTC"
                  id="Expected CTC"
                  formControlName="ExpectedCTCFrom"
                />
                <div
                  *ngIf="
                    candidateFormControllers['ExpectedCTCFrom'].touched &&
                    candidateFormControllers['ExpectedCTCFrom'].invalid
                  "
                >
                  <small
                    *ngIf="candidateFormControllers['ExpectedCTCFrom'].errors?.['required']"
                    class="error-text"
                    >required.</small
                  >
                </div>
              </div>
              <div class="flex flex-col full-width g-10">
                <input
                  class="b-1 bg-light text-white p-10"
                  placeholder="enter first name"
                  id="firstName"
                  formControlName="ExpectedCTCTo"
                />
                <div
                  *ngIf="
                    candidateFormControllers['ExpectedCTCTo'].touched &&
                    candidateFormControllers['ExpectedCTCTo'].invalid
                  "
                >
                  <small
                    *ngIf="candidateFormControllers['ExpectedCTCTo'].errors?.['required']"
                    class="error-text"
                    >required.</small
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <app-file-uploader></app-file-uploader>
      </form>
    </div>
    <div class="flex justify-end">
      <button mat-raised-button class="bg-gold" (click)="addCandidte()">
        Add to Appliations
      </button>
    </div>
  </div>
</section>
