.add-candidate-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 82vh;
  gap: 20px;
  background-color: var(--bg-navbar);
  padding: 20px;
  overflow-y: scroll;
}
.add-candidate-heading {
  text-align: center;
  text-decoration: underline;
}
.add-candidate-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
}
.add-candidate-form {
  width: 100%;
  display: flex;
  gap: 15px;
  flex-direction: column;
}
.candidates-form {
  display: flex;
  width: 100%;
  gap: 30px;
}
.candidates-form-left,
.candidates-form-right {
  width: 100%;
}
.candidates-form-input {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.candidates-form-input-flex {
  flex-direction: row;
  align-items: end;
}
.candidates-form-ctc {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form-submit-btn {
  display: flex;
  justify-content: end;
}
.form-submit-btn button {
  background-color: var(--gold-background);
}

@media (max-width: 990px) {
  .candidates-form {
    flex-direction: column;
  }
  .candidates-form-input-flex {
    flex-direction: column;
  }
}
::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
