<section class="over-view-container full-width">
  <div class="over-view-fa full-width">
    <div class="over-view-status border-radius border-shadow">
      <app-status-bar></app-status-bar>
    </div>
    <div class="over-view-status border-radius border-shadow">
      <app-candidates-chart></app-candidates-chart>
    </div>
  </div>
  <div class="over-view-sec full-width border-radius border-shadow">
    <div class="upcoming-in-heading">
      <h2>Upcoming Interviews</h2>
    </div>
    <div class="upcoming-in-header">
      <app-upcoming-interviews-table></app-upcoming-interviews-table>
    </div>
    <div></div>
  </div>
</section>
