<section class="full-width flex bg-nav">
  <div class="settings-nav-bar flex flex-col p-10">
    <ng-container *ngFor="let manuBar of settingsManuBar">
      <a
        [routerLink]="manuBar.route"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <div class="full-width flex g-10 align-center manu-icons">
          <mat-icon>{{ manuBar.icon }}</mat-icon>
          <h3>{{ manuBar.manuBarName }}</h3>
        </div>
      </a>
    </ng-container>
  </div>
  <div class="full-width">
    <router-outlet></router-outlet>
  </div>
</section>

<!-- <section class="settings-container">
  <div class="users">
    <div class="user-title">
      <h3>Users INFO</h3>
    </div>
    <ng-container *ngFor="let users of userInfo">
      <div class="user-info">
        <div class="user-profile">
          <img [src]="users.profileImage" alt="avathar" />
          <span>
            <h3>{{ users.userName }}</h3>
            <span>{{ users.role }}</span>
          </span>
        </div>
        <a [routerLink]="['/dashboard/users-controlles', users.id]">
          <button mat-raised-button>More</button></a
        >
      </div>
    </ng-container>
    <div class="user-add-btn">
      <button mat-raised-button (click)="toggleInviteMember()">Invite Member</button>
    </div>
  </div>
</section> -->
