.settings-container{
  width: 100%;
  background-color: var( --bg-navbar);
  padding: 10px;
  border-radius: 7px;
  height: 82vh;
  overflow: auto;
}
.users{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.user-title{
  width: 100%;
}
.user-info{
  width: 100%;
  display: flex;
  padding: 10px;
  background-color: var(--light-background);
  border-radius: 7px;
  align-items: center;
}
.user-profile{
    width: 100%;
    display: flex;
    align-items: center;
    gap:10px;
}
.user-profile img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}
.user-info button{
    background-color: var(--gold-background );
}
.user-add-btn{
  width: 100%;
  display: flex;
  justify-content: end;
}
.user-add-btn button{
    background-color: var(--gold-background);
}