section {
  height: 87vh;
}
.controller {
  width: 250px;
  min-width: 250px;
  border-right: 1px solid var(--bg-icon);
}
.controller span:hover {
  background-color: var(--bg-icon);
  cursor: pointer;
}

.active {
  background-color: var(--gold-background);
}
.mail-list {
  overflow-y: auto;
  scrollbar-width: none;
  overflow-x: hidden;
}
.mail-list::-webkit-scrollbar {
  display: none;
}
@media (max-width: 600px) {
  .controller {
    width: 50px;
    min-width: 50px;
    align-items: center;
  }
  .controller span {
    align-items: center;
    width: 50px;
  }
  .controller h3 {
    display: none;
  }
}
