.publish-job {
  width: 50vw;
  height: 100%;
}

.publish-job ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 20px;
}

table tr td {
  padding: 10px;
}
.scrollable-tbody {
  height: 400px;
}
.scrollable-tbody tbody {
  height: 400px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  scrollbar-width: none;
}
.scrollable-tbody tbody::-webkit-scrollbar{
  display: none;
}


table {
  width: 100%;
  border-collapse: collapse;
}

thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.scrollable-tbody table {
  border-collapse: collapse;
}

@media(max-width:800px){
  .publish-job{
    width: 80vw;
    overflow: auto;
  }
  .scrollable-tbody tbody {
    height: 300px;
    min-width: 400px;
  }
}