/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  background-color: var(--bg-dark);
}

body {
  color: var(--text-white);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0 !important;
}
a {
  text-decoration: none !important;
}
/* Color Variables */
:root {
  --bg-dark: #000000;
  --bg-navbar: #202020;
  --input-background: #1e1e1e;
  --light-background: #333333;
  --bg-white: #ffffff;
  --bg-icon: #ffffff52;
  --bg-yellow: #e1ca57;
  --backgound-gradient: linear-gradient(to bottom, #e1ca57, #99752e);
  --danger: #fd2a00;
  --text-light: #b9b9b9;
  --text-white: #fff;
  --line-gradient: linear-gradient(
    90deg,
    hsla(0, 0%, 0%, 0),
    hsl(210, 4%, 64%),
    hsla(0, 0%, 0%, 0)
  );
  --gold-background: #d3ba50;
  --table-background: #2d2d2d;
  --bg-whatsapp: #25d366;
  --bg-facebook: #1877f2;
  --bg-linkdln: #0077b5;
  --bg-btn-status: #530744;

  --mail-font-family:'Arial, Helvetica, sans-serif '

  /*font sizes*/
  --font-size-xxs: 0.75rem; /* Extra Extra Small - 12px */
  --font-size-xs: 0.8rem; /* Extra Small - 14px */
  --font-size-sm: 0.9rem; /* Small - 16px */
  --font-size-md: 1rem; /* Medium - 18px */
  --font-size-lg: 1.25rem; /* Large - 20px */
  --font-size-xl: 1.5rem; /* Extra Large - 24px */
  --font-size-xxl: 2rem; /* Extra Extra Large - 32px */
  --font-size-xxxl: 3rem; /* Triple Extra Large - 48px */
}
/*Removing input background colour for Chrome autocomplete*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--light-background) inset !important;
}
input:-webkit-autofill {
  -webkit-text-fill-color: var(--bg-white) !important;
}

.mdc-text-field--disabled.mdc-text-field--filled {
  background-color: var(--light-background);
}
/*angular meterial select custom style */
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: var(--light-background) !important;
  border-radius: 10px !important;
}
.mat-mdc-form-field-type-mat-select.mat-form-field-appearance-fill
  .mat-mdc-floating-label {
  color: var(--bg-white) !important;
}
.mdc-text-field--filled .mdc-line-ripple::after {
  border-bottom-color: var(--gold-background) !important;
}
.cdk-overlay-pane:not(.mat-mdc-select-panel-above)
  .mdc-menu-surface.mat-mdc-select-panel {
  background-color: var(--bg-dark) !important;
}
.mdc-list-item__primary-text {
  color: var(--bg-white) !important;
}
.mat-mdc-select-arrow {
  color: var(--gold-background) !important;
}
.mat-mdc-form-field.mat-focused.mat-primary .mat-mdc-select-arrow {
  color: var(--gold-background) !important;
}
.mat-mdc-select-value {
  color: var(--bg-white);
}
.mdc-menu-surface {
  background-color: var(--bg-navbar) !important;
}
/* material date custom style */
.mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--bg-white) !important;
}
.mat-mdc-icon-button.mat-mdc-button-base {
  color: var(--bg-white) !important;
}
.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: white !important;
}

.mat-mdc-checkbox.mat-accent {
  --mdc-checkbox-unselected-icon-color: var(--bg-white) !important;
}

/* angular material accordian custom style */
.mat-expansion-panel {
  background-color: var(--light-background) !important;
  color: var(--bg-white) !important;
}
.mat-expansion-panel-header-title {
  color: var(--bg-white) !important;
}
.mat-expansion-panel-header-description {
  color: var(--bg-white) !important;
}
.mat-expansion-panel-header-description,
.mat-expansion-indicator::after {
  color: var(--bg-white) !important;
}
.mat-expansion-panel:not(.mat-expanded):not([aria-disabled="true"])
  .mat-expansion-panel-header:hover {
  background-color: var(--light-background) !important;
}

/*angular material redio btn */
.mat-mdc-radio-button .mdc-form-field {
  color: var(--bg-white) !important;
}
.mat-mdc-radio-button.mat-accent {
  --mdc-radio-disabled-selected-icon-color: var(--bg-white);
  --mdc-radio-disabled-unselected-icon-color: var(--bg-white);
  --mdc-radio-unselected-focus-icon-color: var(--bg-white);
  --mdc-radio-unselected-hover-icon-color: var(--bg-white);
  --mdc-radio-unselected-icon-color: rgb(255 255 255 / 54%);
  --mdc-radio-unselected-pressed-icon-color: rgb(255 255 255 / 54%);
  --mdc-radio-selected-focus-icon-color: #ffd740;
  --mdc-radio-selected-hover-icon-color: #ffd740;
  --mdc-radio-selected-icon-color: #ffd740;
  --mdc-radio-selected-pressed-icon-color: #ffd740;
  --mat-mdc-radio-ripple-color: #000;
  --mat-mdc-radio-checked-ripple-color: #ffd740;
}
.mat-mdc-checkbox .mdc-form-field {
  color: var(--bg-white) !important;
}

/* material slider style*/
.mat-mdc-slider.mat-primary {
  --mdc-slider-handle-color: var(--bg-white);
  --mdc-slider-focus-handle-color: var(--bg-white);
  --mdc-slider-hover-handle-color: var(--bg-white);
  --mdc-slider-active-track-color: var(--bg-white);
  --mdc-slider-inactive-track-color: var(--bg-white);
  --mdc-slider-with-tick-marks-active-container-color: var(--bg-white);
  --mdc-slider-with-tick-marks-inactive-container-color: var(--bg-white);
  --mat-mdc-slider-hover-ripple-color: var(--bg-white);
  --mat-mdc-slider-focus-ripple-color: var(--bg-icon);
}

/*text editor  */
.ck-editor__editable_inline {
  min-height: 300px;
  height: 300px;
  overflow-y: auto;
  min-width: 100% !important;
  background-color: var(--bg-dark);
}
.ck-reset_all :not(.ck-reset_all-excluded *), .ck.ck-reset, .ck.ck-reset_all { h1 {
  font-size: var(--font-size-xxxl);
  color: #000 !important;
}
}

.ck.ck-editor__editable_inline>:last-child {
  font-family:var(--mail-font-family) !important;
}
.ck-reset_all :not(.ck-reset_all-excluded *), .ck.ck-reset, .ck.ck-reset_all {
  background: var(--light-background) !important;
  color: var(--bg-white) !important;
}
.ck.ck-editor__main>.ck-editor__editable {
  background: var(--light-background) !important;
}
.ck-rounded-corners .ck.ck-editor__editable:not(.ck-editor__nested-editable), 
.ck.ck-editor__editable.ck-rounded-corners:not(.ck-editor__nested-editable){
  padding: 20px !important;
}

h2 {
  font-size: var(--font-size-xxl);
}

h3 {
  font-size: var(--font-size-xl);
}

h4 {
  font-size: var(--font-size-lg) !important;
}

p {
  margin: 0px !important;
  font-size: var(--font-size-md);
}

.small-text {
  font-size: var(--font-size-xs);
}

.footer-text {
  font-size: var(--font-size-xxs);
}
.full-width {
  width: 100%;
}
.mat-divider {
  background-color: var(--bg-white);
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex {
  display: flex;
}
.border-radius {
  border-radius: 7px;
}
.p-10{
  padding: 10px;
}
.item-center{
  align-items: center;
  justify-content: center;
}
.justify-end{
  justify-content: end;
}
.justify-sb{
  justify-content: space-between;
}
.justify-ar{
  justify-content: space-around;
}
.justify-center{
  justify-content: center;
}
.align-center{
  align-items: center;
}
.align-top{
  align-items: start;
}
.align-end{
  align-items: end;
}
.justify-start{
  justify-content: start;
}
.flex-col{
  flex-direction: column;
}
.g-10{
  gap: 10px;
}
.bg-dark{
  background-color: var(--bg-dark);
}
.bg-nav{
  background-color: var(--bg-navbar) !important;
}
.bg-light{
  background-color: var(--light-background);
}
.bg-gold{
  background-color: var(--gold-background) !important;
}
.bg-icon{
  background-color: var(--bg-icon);
}
.bg-none{
  background-color: transparent !important;
}
.text-white{
  color:  var(--bg-white)!important;
}
.text-gold{
  color: var(--gold-background);
}
.pt-10{
  padding: 10px;
}
.b-1{
  border:1px solid var(--bg-icon) !important;
}
.b-bottom-1{
  border-bottom:1px solid var(--bg-icon) ;
}
.filled{
  color: var(--gold-background);
}
.full-height{
  height: 100%;
}
.flex-wrap{
  flex-wrap: wrap;
}
.m-10{
  margin: 10px;
}
.g-20{
  gap: 20px;
}
.g-15{
  gap: 15px;
}
.g-50{
  gap: 50px;
}

@media (max-width: 430px) {
  h1 {
    font-size: var(--font-size-xxl);
  }

  h2 {
    font-size: var(--font-size-md) !important;
  }

  h3 {
    font-size: var(--font-size-xl);
  }

  h4 {
    font-size: var(--font-size-lg) !important;
  }

  p {
    font-size: var(--font-size-xxs);
  }
}
.error-text {
  color: var(--danger);
}


::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.mat-mdc-icon-button {
  color: #cdcdcd;
}

.mat-mdc-select-panel {
  max-height: 304px;
}


.border-shadow {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
