.import-resume {
  height: 87vh;
  padding: 20px;
  overflow-y: scroll;
}
::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
