<section class="file-uploader">
  <div class="candidates-form-file">
    <div
      class="filed-drop-zone"
      appDragAndDrop
      (selectedFiles)="selectedFile($event)"
      (click)="openFile()"
    >
      <mat-icon>cloud_upload</mat-icon>
      <span>Click/Drag and Drop File</span>
      <span>Only images/Doc/pdf type</span>
      <!-- <span *ngIf="filePreviews?.name">{{filePreviews?.name}}</span> -->
      <input
        type="file"
        hidden
        #InputImageFiled
        (change)="onSelectedChanges($event)"
        accept=".png,.jpg,.jpeg,.pdf,.doc,.docx"
      />
    </div>
  </div>
  <div class="selected-file" *ngIf="filePreviews[0]">
    <h3>{{ filePreviews[0].name }}</h3>
    <span><mat-icon (click)="removeSelectedFile()">close</mat-icon></span>
  </div>
</section>
