section{
  width: 30vw;
  padding: 20px;
}
textarea{
  min-height: 200px;
}

@media(max-width:1200px) {
  section {
    width: 50vw;
  }
} 
@media(max-width:700px) {
  section {
    width: 80vw;
  }
} 
@media(max-width:450px) {
  section {
    padding: 20px 5px;
  }
  .skills{
    flex-direction: column;
    gap: 5px;
  }
  .evaluate{
    font-size: var(--font-size-xxs);
  }
} 