<section class="feedback-form">
  <div class="interview-details">
    <form [formGroup]="feedbackForm">
      <div class="interview-info">
        <mat-form-field>
          <mat-label>Select Interview</mat-label>
          <mat-select formControlName="interview">
            <mat-option value="Task Interview">Assessment - 2</mat-option>
            <mat-option value="face to face Interview"
              >Assessment - 2</mat-option
            >
            <mat-option value="face to face Interview"
              >Face to Face Round - 1</mat-option
            >
            <mat-option value="face to face Interview"
              >Face to Face Round - 2</mat-option
            >
            <mat-option value="face to face Interview">HR Round</mat-option>
          </mat-select>
          <div
            *ngIf="
              FeedbackFormController['interview'].touched &&
              FeedbackFormController['interview'].invalid
            "
          >
            <small class="error-text">interview is required.</small>
          </div>
        </mat-form-field>
      </div>
      <div class="interview-info">
        <mat-form-field>
          <mat-label>Select Interviewer</mat-label>
          <mat-select formControlName="interviewer">
            <mat-option value="Task Interview">Anaya</mat-option>
            <mat-option value="Task Interview">Asher</mat-option>
            <mat-option value="Task Interview">Olivia</mat-option>
            <mat-option value="Task Interview">Evelyn</mat-option>
          </mat-select>
          <div
            *ngIf="
              FeedbackFormController['interviewer'].touched &&
              FeedbackFormController['interviewer'].invalid
            "
          >
            <small class="error-text">interviewer is required.</small>
          </div>
        </mat-form-field>
      </div>
      <div class="interview-info">
        <span>Rate:</span>
        <span>
          <ng-container *ngFor="let star of ratingStar">
            <mat-icon
              (click)="setRating(star)"
              [ngClass]="{ filled: star <= currentSelectedStar }"
              class="rating"
              >star</mat-icon
            >
          </ng-container>
        </span>
      </div>
      <div class="remarks">
        <span>Remarks</span>
        <mat-form-field>
          <mat-label>Feedback</mat-label>
          <textarea matInput formControlName="remarks"></textarea>
          <div
            *ngIf="
              FeedbackFormController['remarks'].touched &&
              FeedbackFormController['remarks'].invalid
            "
          >
            <small class="error-text">remarks is required.</small>
          </div>
        </mat-form-field>
      </div>
      <div class="Submit-btn">
        <button mat-raised-button (click)="onSubmitFeedback()">Submit</button>
      </div>
    </form>
  </div>
</section>
