<section class="bg-nav flex flex-col">
  <div class="full-width">
    <h3>Give Your Feedback</h3>
  </div>
  <form [formGroup]="feedbackForm" class="full-width flex flex-col g-10">
    <div class="flex flex-col g-5" formArrayName="skillRating">
      <label>Skills</label>

      <div
        *ngFor="let skill of skillRating.controls; let i = index"
        [formGroupName]="i"
      >
        <div class="flex full-width justify-sb skills">
          <input
            formControlName="skill"
            type="text"
            placeholder="Enter Skill"
            class="b-1 bg-light text-white p-10"
          />

          <span>
            <ng-container *ngFor="let star of ratingStar">
              <mat-icon
                (click)="setRating(skill, star)"
                [ngClass]="{ filled: star <= skill.get('rating')?.value }"
                class="rating pointer"
                >star</mat-icon
              >
            </ng-container>
          </span>
        </div>
      </div>
      <span class="text-gold pointer" (click)="addSkillRating()">Add+</span>
    </div>

    <div class="full-width flex flex-col">
      <label for="evaluate">Evaluate</label>
      <div class="flex g-5 evaluate">
        <span
          class="p-10 b-1 pointer bg-light flex align-center justify-center g-5 text-gold"
          ><mat-icon> thumb_up </mat-icon> Definitely</span
        >
        <span
          class="p-10 b-1 pointer flex align-center justify-center g-5 text-green"
          ><mat-icon> check </mat-icon> Yes</span
        >
        <span
          class="p-10 b-1 pointer flex align-center justify-center g-5 text-danger"
          ><mat-icon> thumb_down </mat-icon> No</span
        >
        <span
          class="p-10 b-1 pointer flex align-center justify-center g-5 text-white bg-gold"
        >
          <mat-icon> thumbs_up_down</mat-icon> Not Sure</span
        >
      </div>
    </div>
    <!-- Remarks Section -->
    <div class="flex flex-col">
      <label for="remarks">Remarks</label>
      <textarea
        formControlName="remarks"
        id="remarks"
        class="bg-light p-10"
      ></textarea>
    </div>

    <div class="full-width flex justify-end g-5">
      <button mat-raised-button class="bg-none b-1 text-white" (click)="onCancelFeedback()">Cancel</button>
      <button mat-raised-button class="bg-gold" (click)="onSubmitFeedback()">Submit Feedback</button>
    </div>
  </form>
</section>
