
.dashboard-section {
  position: relative;
}
.main-container {
  width: 100%;
  height: 92vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 0px;
}

@media (max-width: 768px) {
  .aside-nav-bar {
    position: absolute;
  }
}

