<!-- <section class="flex dashboard-section">
  <aside class="aside-nav-bar">
    <app-aside-nav-bar></app-aside-nav-bar>
  </aside>
  <div class="main-container">
    <div class="header full-width">
      <app-header></app-header>
    </div>
    <div class="main full-width">
      <router-outlet></router-outlet>
    </div>
  </div>
</section> -->
<section class="flex flex-col full-width dashboard-section">
  <header class="">
     <app-header-nav-bar></app-header-nav-bar>
  </header>
  <div class="main-container p-10">
    <div class="header full-width">
      <!-- <app-header></app-header> -->
    </div>
    <div class="main full-width ">
      <router-outlet></router-outlet>
    </div>
  </div>
</section>
