<section class="talent-pool-container">
  <div class="flex flex-col align-center g-10">
    <app-filter-application></app-filter-application>
    <!-- <button mat-raised-button (click)="addApplicationPopUp()">
      Add To Applications
    </button> -->
  </div>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <td *ngFor="let header of talentPoolHeader">
            {{ header | titlecase }}
          </td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let application of talentPoolDetails">
          <td>
            <mat-checkbox
              class="example-margin"
              [(ngModel)]="application.checked"
              (change)="OnChangeCheckBox()"
            ></mat-checkbox>
          </td>
          <a (click)="openCandidatefrom(123)">
            <td *ngFor="let header of applicationTableHeader">
              {{ application[header] }}
            </td>
          </a>
        </tr>
      </tbody>
    </table>
  </div>
</section>
