<section class="flex full-width flex-col bg-nav g-10">
  <h2>Add Questions</h2>
  <form [formGroup]="customQuestionFrom" class="full-width flex flex-col">
    <div class="full-width flex flex-col g-10">
      <label for="type">Choose the type of Question</label>
      <select
        class="full-width p-10 bg-light text-white"
        formControlName="questionType"
      >
        <option value="">select from here</option>
        <option *ngFor="let type of questionTypeArray" [value]="type[0]">
          {{ type[0] }}
        </option>
      </select>
      <div
        *ngIf="
          customQuestionFromControlles['questionType'].touched &&
          customQuestionFromControlles['questionType'].invalid
        "
      >
        <small
          *ngIf="customQuestionFromControlles['questionType'].errors?.['required']"
          class="error-text"
          >Question Type is required.</small
        >
      </div>
    </div>
    <div class="full-width flex flex-col g-10">
      <label for="question">Question</label>
      <input
        type="text"
        placeholder="Enter the Questions"
        class="p-10 b-1 bg-light text-white full-width"
        formControlName="question"
        tabindex="-1"
      />
      <div
        *ngIf="
          customQuestionFromControlles['question'].touched &&
          customQuestionFromControlles['question'].invalid
        "
      >
        <small
          *ngIf="customQuestionFromControlles['question'].errors?.['required']"
          class="error-text"
          >Question is required.</small
        >
      </div>
      <div class="full-width flex justify-end">
        <mat-checkbox class="example-margin" formControlName="mandatory">Mandatory</mat-checkbox>
      </div>
    </div>
    <div
      formArrayName="options"
      *ngIf="
        customQuestionFrom.controls['questionType'].value === 'Multiple Choose'
      "
    >
      <div class="flex full-width justify-sb">
        <label>Enter Options</label>
        <span class="text-gold addOpetions" (click)="addMulipleOptionField()">
          Add Options
        </span>
      </div>

      <div class="flex g-10 flex-col">
        <div
          class="flex g-10"
          *ngFor="let option of options.controls; let i = index"
          [formGroupName]="i"
        >
          <span class="full-width">
            <label for="option{{ i }}">Option {{ i + 1 }}:</label>
            <span class="flex g-10 full-width">
              <input
                formControlName="optionText"
                type="text"
                id="option{{ i }}"
                placeholder="Enter option"
                class="p-10 b-1 bg-light text-white full-width"
              />
              <button
                class="b-1 bg-none text-white p-5"
                (click)="removeOption(i)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </span>
          </span>
        </div>
      </div>
    </div>
    <div class="full-width flex justify-end g-10">
      <button
        mat-raised-button
        class="bg-none b-1 text-white"
        (click)="closeOpenBox()"
      >
        Cancel
      </button>
      <button mat-raised-button class="bg-gold" (click)="addQuestion()">
        Add Question
      </button>
    </div>
  </form>
</section>
