<app-create-jrf-header></app-create-jrf-header>
<section class="candidate-application">
  <div class="application-container">
    <div class="application-sub-header">
      <a routerLink="/dashboard/application">
        <div class="application-back-btn">
          <span>
            <mat-icon>arrow_back</mat-icon>
          </span>
          <h3>Applications</h3>
        </div>
      </a>
    </div>
    <div class="candidate-details">
      <div class="candidate-profile">
        <div class="profile-img">
          <img src="../../../assets/images/avathar.jpg" alt="profile" />
          <span>
            <h3>{{ applicationDetails.candidate }}</h3>
            <h5>{{ applicationDetails.jobPosition }}</h5>
          </span>
        </div>
        <div class="profile-info">
          <div class="basic-details">
            <h5>
              <mat-icon class="info-icon">mail</mat-icon
              >{{ applicationDetails.email }}
            </h5>
            <h5>
              <mat-icon class="info-icon">call</mat-icon
              >{{ applicationDetails.phone }}
            </h5>
            <h5>
              <mat-icon class="info-icon">location_on</mat-icon
              >Kochi,Kerela,India
            </h5>
          </div>
          <div class="profile-btn">
            <ng-container *ngIf="applicationDetails?.status === 'new'">
              <button mat-raised-button>Shortlist candidate</button>
            </ng-container>
            <ng-container *ngIf="applicationDetails?.status === 'shortlisted'">
              <button mat-raised-button>Inital Screening</button>
            </ng-container>
            <ng-container *ngIf="applicationDetails?.status === 'on hold'">
              <button mat-raised-button (click)="openScheduleInterview()">
                Schedule Interview
              </button>
            </ng-container>
            <ng-container *ngIf="applicationDetails?.status === 'feedback'">
              <button mat-raised-button>
                Hire
              </button>
            </ng-container>
            <ng-container
              *ngIf="applicationDetails?.status === 'upCommingInterview'"
            >
              <button mat-raised-button (click)="openFeedbackFrom()">
                Feedback
              </button>
            </ng-container>
            <button mat-flat-button>Reject</button>
            <button
              mat-icon-button
              aria-label="Example icon button with a vertical three dot icon"
              (click)="toggleMoreMenu = !toggleMoreMenu"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <div class="popup-more-vert" *ngIf="toggleMoreMenu">
              <span>Move to talent pool</span>
            </div>
          </div>
        </div>
      </div>
      <mat-divider class="mat-divider"></mat-divider>
      <div class="application-detailas">
        <ng-container *ngIf="applicationDetails.status !== 'feedback'">
          <div class="personal-details">
            <h5>Personal Informations</h5>
            <div class="application-overview">
              <span>
                <p>Name</p>
                :
                <p>{{ applicationDetails.candidate }}</p>
              </span>
              <span>
                <p>Experience</p>
                :
                <p>{{ applicationDetails.experience }} Years</p>
              </span>
              <span>
                <p>Education</p>
                :
                <p>{{ applicationDetails.education }}</p>
              </span>
              <span>
                <p>Notice Period</p>
                :
                <p>{{ applicationDetails.noticePeriod }} Days</p>
              </span>
              <span>
                <p>Current CTC</p>
                :
                <p>{{ applicationDetails.currentCTC }}</p>
              </span>
              <span>
                <p>Gender</p>
                :
                <p>{{ applicationDetails.gender }}</p>
              </span>
              <span>
                <p>Birth of Date</p>
                :
                <p>{{ applicationDetails.dob }}</p>
              </span>
              <span>
                <p>Skills</p>
                :
                <p>{{ applicationDetails.skills }}</p>
              </span>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="applicationDetails.status !== 'feedback'">
          <div class="personal-details">
            <h5>Resume Preview</h5>
            <div
              class="application-overview application-pdf"
              (click)="openPdfInNewTab()"
            >
              <div class="pdf-container">
                <iframe
                  id="inlineFrameExample"
                  title="Inline Frame Example"
                  [src]="safeUrl"
                  class="resume-preview"
                  allowfullscreen
                  frameborder="0"
                ></iframe>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="applicationDetails.status === 'shortlisted'">
          <div class="personal-details">
            <h5>Initial Screening</h5>
            <div class="application-overview">
              <form>
                <div class="inital-screening-form">
                  <span>
                    <p>Currently Working</p>
                  </span>
                  <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="1">Option 1</mat-radio-button>
                    <mat-radio-button value="2">Option 2</mat-radio-button>
                  </mat-radio-group>
                </div>
                <div class="inital-screening-form">
                  <span>
                    <p>Experience</p>
                  </span>
                  <input type="text" />
                </div>
                <div class="inital-screening-form">
                  <span>
                    <p>Company Name</p>
                  </span>
                  <input type="text" />
                </div>
                <div class="inital-screening-form">
                  <span>
                    <p>notice Period</p>
                  </span>
                  <input type="text" />
                </div>
                <div class="inital-screening-form">
                  <span>
                    <p>current CTC</p>
                  </span>
                  <input type="text" />
                </div>
                <div class="inital-screening-form">
                  <span>
                    <p>Expected CTC</p>
                  </span>
                  <input type="text" />
                </div>
                <div class="inital-screening-form form-textarea">
                  <span>
                    <p>Project</p>
                  </span>
                  <textarea name="" id=""></textarea>
                </div>
              </form>
            </div>
          </div>
        </ng-container>
        <ng-container
          *ngIf="
            applicationDetails?.status === 'on hold' ||
            applicationDetails?.status === 'feedback'
          "
        >
          <div class="personal-details">
            <h5>Personal Informations</h5>
            <div class="application-overview">
              <span>
                <p>Currently Working</p>
                :
                <p>{{ initialScreeningDetails.currentlyWorking }}</p>
              </span>
              <span>
                <p>Experience</p>
                :
                <p>{{ initialScreeningDetails.experience }} Years</p>
              </span>
              <span>
                <p>Company Name</p>
                :
                <p>{{ initialScreeningDetails.companyName }}</p>
              </span>
              <span>
                <p>Notice Period</p>
                :
                <p>{{ initialScreeningDetails.noticePeriod }} Days</p>
              </span>
              <span>
                <p>Current CTC</p>
                :
                <p>{{ initialScreeningDetails.currentCTC }}</p>
              </span>
              <span>
                <p>Expected CTC</p>
                :
                <p>{{ initialScreeningDetails.expectedCTC }}</p>
              </span>
              <span>
                <p>Projects</p>
                :
                <p>{{ initialScreeningDetails.project }}</p>
              </span>
            </div>
          </div>
        </ng-container>
        <ng-container
          *ngIf="applicationDetails?.status === 'upCommingInterview'"
        >
          <div class="personal-details">
            <h5>Interview Informations</h5>
            <div class="application-overview">
              <div class="application-overview">
                <span>
                  <p>Interview Date</p>
                  :
                  <p>{{ interviewDetails.date }}</p>
                </span>
                <span>
                  <p>Interview Time</p>
                  :
                  <p>{{ interviewDetails.time }}</p>
                </span>
                <span>
                  <p>Interview Type</p>
                  :
                  <p>{{ interviewDetails.interviewType }}</p>
                </span>
                <span>
                  <p>Interviewer Name</p>
                  :
                  <p>{{ interviewDetails.interviewer }}</p>
                </span>
              </div>
              <div class="interview-btn">
                <button mat-raised-button (click)="openScheduleInterview()">
                  Change
                </button>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="applicationDetails.status === 'feedback'">
          <div class="personal-details">
            <h5>Task Interview Feedback</h5>
            <div class="application-overview">
              <div class="application-overview">
                <span>
                  <p>Interview Date</p>
                  :
                  <p>12/13/1222</p>
                </span>
                <span>
                  <p>Interview Time</p>
                  :
                  <p>12.00PM - 1.00PM</p>
                </span>
                <span>
                  <p>Interview Type</p>
                  :
                  <p>Task Interview</p>
                </span>
                <span>
                  <p>Interviewer</p>
                  :
                  <p>John Honai</p>
                </span>
                <span>
                  <p>Remarks</p>
                  :
                  <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Reprehenderit laboriosam cumque inventore deleniti nihil
                    eaque cum voluptas, quaerat blanditiis,
                  </p>
                </span>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="applicationDetails.status === 'feedback'">
          <div class="personal-details">
            <h5>Task Interview Feedback</h5>
            <div class="application-overview">
              <div class="application-overview">
                <span>
                  <p>Interview Date</p>
                  :
                  <p>12/13/1222</p>
                </span>
                <span>
                  <p>Interview Time</p>
                  :
                  <p>12.00PM - 1.00PM</p>
                </span>
                <span>
                  <p>Interview Type</p>
                  :
                  <p>Face to Face Interview</p>
                </span>
                <span>
                  <p>Interviewer</p>
                  :
                  <p>John Honai</p>
                </span>
                <span>
                  <p>Rating</p>: 
                  <ng-container *ngFor="let star of ratingStar">
                    <mat-icon
                      [ngClass]="{ filled: star <= currentSelectedStar }"
                      class="rating"
                      >star</mat-icon
                    >
                  </ng-container>
                </span>
                <span>
                  <p>Remarks</p>
                  :
                  <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Reprehenderit laboriosam cumque inventore deleniti nihil
                    eaque cum voluptas, quaerat blanditiis,
                  </p>
                </span>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</section>
